In [1]:
pip install pyodbc

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pyodbc in d:\kavya\lib\site-packages (5.1.0)

In [3]:
import pyodbc

conn = pyodbc.connect(
    r'DRIVER=ODBC Driver 17 for SQL Server;'
    r'SERVER=localhost\SQLEXPRESS;'
    r'DATABASE=master;'
    r'Trusted_Connection=yes;',
    autocommit=True 
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE AirbnbNYC")
conn.close()

In [5]:
import pyodbc

# Connect to the new AirbnbNYC database
conn = pyodbc.connect(
    r'DRIVER=ODBC Driver 17 for SQL Server;'
    r'SERVER=localhost\SQLEXPRESS;'
    r'DATABASE=AirbnbNYC;'
    r'Trusted_Connection=yes;',
    autocommit=True
)

cursor = conn.cursor()

In [7]:
#create table

create_table_query = """
CREATE TABLE airbnb_cleaned (
    id INT,
    name NVARCHAR(MAX),
    host_id BIGINT,
    neighbourhood_group NVARCHAR(50),
    neighbourhood NVARCHAR(100),
    latitude FLOAT,
    longitude FLOAT,
    room_type NVARCHAR(50),
    price FLOAT,
    minimum_nights INT,
    number_of_reviews INT,
    reviews_per_month FLOAT,
    availability_365 INT
);
"""

cursor.execute(create_table_query)
conn.commit()

In [13]:
import pandas as pd

# Load cleaned data
df = pd.read_csv('cleaned_airbnb.csv')

columns_for_sql = [
    'id', 'name', 'host_id', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price',
    'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'availability_365'
]
df = df[columns_for_sql]

In [17]:
#Insert data into SQL
for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO airbnb_cleaned (
            id, name, host_id, neighbourhood_group, neighbourhood,
            latitude, longitude, room_type, price,
            minimum_nights, number_of_reviews, reviews_per_month, availability_365
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, tuple(row))

conn.commit()
cursor.close()
conn.close()

print("Data successfully loaded into SQL Server!")

Data successfully loaded into SQL Server!